<%- include("./partials/header.ejs") %>
    
    <form action='/create_post/topics' method="POST"  class="content_form">
        <h1 >Create Post</h1>
        <div>
            <label>Title</label>
            <% if(locals.ownUser){%>
            <input type="hidden" value="<%= locals.ownUser.username%>" name="username">
            <input type="hidden" value="<%= locals.ownUser.id %>" name="contentId">
            <%}else if(user){%>
                <input type="hidden" value="<%= user.displayname%>" name="username">
                <input type="hidden" value="<%= user.thumbnail %>" name="thumbnail">
                <input type="hidden" value="<%= user._id%>" name="contentId">
            <%} %>
            <input type="text" name='title' required>
        </div>
        <div class="content">
            <label>Content</label>
            <textarea name='content' required></textarea>
        </div>
        <button class="post_btn">Create Post</button>
    </form>
</body>
</html>